{% extends "guess_base.html" %}

{% block title %}
  Home
{% endblock %}

{% block content %}

  {# Display flashed messages #}
  {% set messages = get_flashed_messages() %}

  {% for msg in messages %}
  <center><h2>{{msg}}</h2></center>
  {% endfor %}

  <style>
    body {
  margin: 0;
  padding: 0;
  background-color: #17a2b8;
  height: 100vh;
}
#login .container #login-row #login-column #login-box {
  margin-top: 120px;
  max-width: 600px;
  height: 425px;
  border: 1px solid #9C9C9C;
  background-color: #f5f5f5;
}
#login .container #login-row #login-column #login-box #login-form {
  padding: 20px;
}
#login .container #login-row #login-column #login-box #login-form #register-link {
  margin-top: -85px;
}
  </style>

  <div id="login">
        <div class="container">
            <div id="login-row" class="row justify-content-center align-items-center">
                <div id="login-column" class="col-md-6">
                    <div id="login-box" style="border-radius: 10px; margin-left: 7cm;" class="col-md-12">
                        <form id="login-form" class="form" action="/signup">
                            <h3 class="text-center text-info">Sign Up</h3>
                            <div class="form-group">
                                <label for="username" class="text-info">Username:</label><br>
                                <input type="text" placeholder="Enter Username" name="username" id="username" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Password:</label><br>
                                <input type="text" placeholder="Enter password" name="pwd1" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="password" class="text-info">Retype Password:</label><br>
                                <input type="text" placeholder="Retype password" name="pwd2" id="password" class="form-control">
                            </div>
                            <div class="form-group">
                                <label for="phone" class="text-info">Phone Number:</label><br>
                                <input type="tel" name="phone" placeholder="[+][country code][phone number including area code]" id="phone" class="form-control">
                            </div>
                            <div class="form-group">
                                <input type="submit" name="submit" class="btn btn-info btn-md" value="submit">
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}
