{% extends "guess_base.html" %}

{% block title %}
  Create Account
{% endblock %}


{% block content %}
    <div class="col-sm-12 text-left" id="grad1">

  <div style="margin-left: 2cm;">
<h1>CREATE ACCOUNT</h1>
  </div>

   {# Display flashed messages #}
  {% set messages = get_flashed_messages() %}

  {% for msg in messages %}
  <center><h2>{{msg}}</h2></center>
  {% endfor %}
  <hr>

  <div class = "well" style="margin-right: 2cm; margin-left: 2cm;">
      <form action="/signup">

	<div class="form-group">

      <label for="username">Username:</label>
      <input type="username" class="form-control" id="username" placeholder="Enter username" name="username">
    </div>

     <div class="form-group">
      <label for="pwd1">Password:</label>
      <input type="password" class="form-control" id="pwd1" placeholder="Enter password" name="pwd1">
     </div>

     <div class="form-group">
      <label for="pwd2">Password:</label>
      <input type="password" class="form-control" id="pwd2" placeholder="Retype password" name="pwd2">
     </div>

     <div class="form-group">
      <label for="pwd2">Phone Number</label>
      <input type="tel" class="form-control" id="phone" placeholder="[+][country code][phone number including area code]" name="phone">
     </div>

	 <input type="submit" class="btn btn-default" value="Submit">

	     <br>
    <!--Don't have an account yet? Click <a href="createaccount">here</a>!-->

    </form>
</div>




    </div>
  </div>


{% endblock %}
